.footer {
  width: 100%;
  height: 4rem;
  background-color: var(--color-tertiary);
  position: absolute;
  bottom: 0;
  @include center;

  a {
    color: var(--color-primary);

    span {
      font-weight: bold;
      transition: all 0.3s;
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
