.home {
  @include center;
  flex-direction: column;
  stroke: red;

  & > :first-child {
    color: var(--color-text-2);
    @include center;
    flex-direction: column;

    h1 {
      margin: 2rem 0;
    }
    input {
      margin: 1rem 0;
      width: 45rem;
      padding: 1rem 1rem;
      background-color: var(--color-tertiary);
      border: none;
      border-bottom: 1px solid var(--color-text-2);
      caret-color: var(--color-text-2);
      font-size: 1.8rem;
      color: var(--color-text-2);

      &:focus {
        outline: none;
      }
    }
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin: 5rem 0;

  & > svg {
    scale: 5;
    color: var(--color-secondary);
  }
}
